asgiref==3.8.1
Brotli==1.1.0
click==8.2.1
defusedxml==0.7.1
dj-database-url==3.0.0
Django==5.2.3
djangorestframework==3.16.0
fonttools==4.58.2
fpdf2==2.8.3
gunicorn==23.0.0
h11==0.16.0
packaging==25.0
pillow==11.2.1
psycopg2-binary==2.9.10
python-dotenv==1.1.0
qrcode==8.2
sqlparse==0.5.3
typing_extensions==4.14.0
uvicorn==0.34.3
whitenoise==6.9.0
