# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.env/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# VSCode settings (opcional)
.vscode/

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Django stuff:
*.log
local_settings.py
db.sqlite3
media/

# MyPy
.mypy_cache/

# Pyre
.pyre/

# Pytype
.pytype/

# Pytest
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints/

# macOS/Linux
.DS_Store
Thumbs.db
